* {
    padding:0;
    margin:0;
    font-family: 'Montserrat', sans-serif;
}
/* enlever tous les paddings et les marges des éléments du code 
définir la police d'écriture */

/* ===> ENTETE <=== */

/* >PARTIE BLANCHE< */

.entete-blanc {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
    margin: 10px 65px 3px 0;
}

/* Dimension et positionnement du texte et de la barre de recherche dans l'entete suppérieure blanche */

.entete-blanc p {
    margin: 0 350px 0 0;
    font-style: italic;
}
/* Mise en forme de la phrase dans l'entete blanche */


form button {
    background-color: white;
    border:none;
}

/* Enlever le backgroung gris et les bordure du bouton de la loupe pour la barre de recherche */


form i {
    color:#ee9ca7;
}

/* Mettre la loupe en rose */


form input {
    border: 2px solid #ee9ca7;
    border-radius: 10px;
    height: 25px;
    padding:0 0 0 15px;
    box-shadow: 5px 5px 15px #ee9ca7;
}

/* Styliser la barre de rechercher */


/* >PARTIE ROSE< */

.entete-rose {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 250px;
    background: linear-gradient(90deg, #7F7FD5,#86A8E7,#91EAE4);  
}

/* Taille + couleur de la partie rose de l'entete + position des du logo et du menu */

.entete-rose img {
    height: 50%;
    width: 25%;
    margin: 0 0 0 90px;   
} 
/* dimension et position logo de l'entete */

.entete-rose ul {
    display: flex;
    margin: 0 90px 0 0;
    list-style-type: none;
    font-size: 25px;
    color: #343434;
}

/* Styliser le menu */

.entete-rose li {
    margin: 0 0 0 100px;
    padding: 0 0 10px 0; 
}

.entete-rose li:hover {
    border-bottom: 2px solid #343434;
    padding: 0 0 10px 0;
}

/* repositionnement des deux éléments activités */

/* ===>SECTION 1<=== */

.section1 img {
    height: 500px;
    width: 100%;
    margin: auto;
}
/* Dimension et position de l'image avec cookies */

.bouton-decouvrir {
    height: 45px;
    width: 50%;
    background: linear-gradient(90deg, #FFAFBD, #ffc3a0);
    border: 2px solid white;
    border-radius: 30px;
    font-size: 23px;
    box-shadow: 10px 5px 15px #ee9ca7;

}
/* Mise en forme du bouton découvrir */

.texte-photo {
    position:absolute;
    top:90px;
    right:63px;
    text-align: center;
}
/* Positionnement du texte avec bouton sur l'image des cookies */

.section1 {
    position:relative;
}
/* Mise en position relative de l'image des cookies pour mettre le texte avec bouton par dessus */

.section1 h1 {
    font-size: 40px;
}
/* Augmentation de la police du titre H1 */

.section1 p {
    font-style: italic;
    margin: 20px 0 40px 0;
}
/* Mise en forme du texte */


/* ===>SECTION 2<=== */

.section2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 200px;
    background-color: #FFAFBD;
    margin:50px 70px 50px 70px;
    padding:20px 0;
    color: white;
    text-align: center;
}

.section2 i {
    border:2px solid white;
    border-radius: 50px;
    font-size: 30px;
    padding:20px;
}

.section2 h3 {
    padding:15px 0 10px 0;
}

/* ===>SECTION 3<=== */

.section3 {
    margin:0 70px 0 70px;
}
/* Laisser une marge de chaque côté de la section */

.vignette img {
    height:250px;
}

/* Réduire la taille des images de cookies */

.section3 h2 {
    font-size:60px;
    text-align: center;
}

/* Dimension et centrage du titre h2 */

.bouton-saveur {
    display: flex;
    justify-content: center;
}

/* Centrer les boutons des saveurs et les mettre en ligne */

.bouton-saveur button {
    height:50px;
    width: 17%;
    margin:40px 35px 40px 0;
    border:2px solid #CFC3DD;
    background-color: white;
    border-radius:10px;
    font-size: 18px;
    color:#CFC3DD;
    box-shadow: 10px 5px 15px #ee9ca7;
}

/* Style des boutons de saveurs */


.chocolat:hover,
.fruits:hover,
.sans-gluten:hover,
.gourmand:hover
 {
    background: linear-gradient(90deg, #FFAFBD, #ffc3a0);
    color:white;
}

/* Mettre un fond dégardé au survolage des boutons des saveurs */

.vignette {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* Position des vignettes en colonne sur deux lignes et centré */

.petite-vignette {
    width: 30%;
    text-align: center;
    margin:20px 10px 20px 10px;
}

/* Mise en page de chaque petite vignette de cookies en redéfinissant leur taille, aligner le texte et un padding pour les espacer */

.petite-vignette:hover {
    box-shadow: 10px 10px 15px #ffc3a0;
}


.vignette h4 {
    font-size: 25px;
    margin:0 0 10px 0;
}

/* Agrandir le titre + mettre une marge avec le texte */

.petite-vignette p {
    padding:0 57px 15px 57px;
    text-align: center;
}


/* éviter que le texte dépasse trop sur les côtés */

/* ===>SECTION 4<=== */

.section4 {
    height: 300px;
    width: 100%;
    background-color: #ee9ca7;
    margin: 60px 0;
    box-shadow: 5px 10px 15px #ee9ca7;
}

/* Taille de la section, fond de couleur rose + marge au dessus pour séparer avec la section précédente */

.section4 img {
    height: 300px;
    margin:0 40px 0 150px;
}
/* Réduire la taille de la photo + marge pour la décoller du bord de la page et du texte */


.photo-texte4 {
    display: flex;
}
/* Mise en place d'un flex pour mettre les éléments en ligne */

.texte-section4 {
    color:white;
    margin:20px 0 0 0;
}

/* Mettre tout le texte en blanc et repositionner le bloc de texte par rapport au bord rose */


.texte-section4 a {
    color:white;
}
/* Mettre le lien en blanc */

.texte-section4 p,
.texte-section4 em {
    margin: 20px 0;
    font-size: 18px;
}

/* Mettre plus gros le texte et l'aérer */

.texte-section4 h2 {
    margin: 0 0 10px 0;
    font-size: 40px;
}

/* Mettre plus gros le titre et le séparer avec la phrase du dessous */

/* ===>SECTION 5<=== */

.section5 {
    margin:90px 70px 50px 70px;
}

/* Marges pour réduire la section sur les deux cotés et la séparer avec la section suivante */

.section5 img {
    height:600px;
    width:100%;
}

/* Réduire la taille de l'image */


.photo-avis {
    display:grid;
    gap: 35px;
    height:600px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin:50px 0 0 0;
}

/* Création d'une grid avec 4 colonnes et 2 lignes + dimension de la grid et une marge pour séparer avec le titre */

.image-avis {
    grid-column-start:1;
    grid-column-end:3;
    grid-row-start:1;
    grid-row-end:3;
}

/* Position de l'image sur deux colonnes et deux lignes */



.vignette-avis i
{
    margin:27px 0 0 0;
}

/* Mettre les étoiles en bas de la vignette */
.vignette-avis{
    border:2px solid #CFC3DD;
    padding: 30px 50px;
    text-align: center;
}

.vignette-avis-shadow{
    box-shadow: 12px 12px 2px 1px rgb(238,156,167);
}


.section5 h2 {
    font-size:40px;
}

/* Augmentation de la taille du titre avis clients */

.photo-avis p {
    margin:0 0 20px 0;
    font-size:20px;
}

/* Augmentation de la taille du texte + marge pour aérer le texte */

.titre-avis{
    font-weight:bold;
    color:#CFC3DD;
}

/* Mise en gras des titres des avis dans les vignettes + coloration en violet */

.photo-avis i {
    color:#CFC3DD;
}

/* Etoiles en violet */



/* ===> SECTION 6 <=== */

.section6 {
    display:flex;
    background-color: #CFC3DD;
    height:250px;
   
    margin:80px 70px 100px 70px;
}

/* Taille de la section 6 + flex pour mettre les deux éléments sur la même ligne + fond de couleur violette + une marge pour réduire la section sur les côté et en dessous */

.texte-nexsletter p {
    color:white;
    margin: 10px 0 0 0;
    font-size: 25px;
    font-weight: bold;
}

/* Texte en blanc + Marge entre les lignes + augmentation de la police et police en gras */

.texte-nexsletter {
    margin:40px 0 0 90px;
}

/* Marges sur le dessus et le côté gauche du bloc avec le texte uniquement */

#emailAddress {
    color:#ee9ca7;
    font-size:20px;
    border:none;
    border-radius:30px;
    height: 60px;
    width:50%;
    margin: auto;
    padding: 0 0 0 20px;
    box-shadow: 5px 10px 15px #ee9ca7;
}

/* Stylisation du champ adresse mail avec texte en rose, augmentation de la police, retrait de la bordure, arrondissement des coins, définir la taille du champ, centrer le champ dans la section + un padding pour décoller le texte de la bordure */

/* ===>FOOTER<=== */

footer {
    display: flex;
    justify-content: space-around;
    background: linear-gradient(90deg, #FFAFBD, #ffc3a0); 
    color: white;
    text-align: center;
}

/* Flex pour mettre les éléments en ligne et espacé avec des espaces de chaque côté + un fond rose + écriture blanche + texte centré */

footer ul {
    list-style-type: none;

}

/* Enlever les points des listes + retrait du padding */

footer li {
    margin: 0 0 20px 0;
}

/* Espacer le texte */

footer p {
    margin:0 0 15px 0;
}

.titre-footer {
    font-weight: bold;
    font-size: 20px;
}

/* Mettre les titres en gras + augmentation de la police */

.contact {
    margin:25px 0 10px 50px;
}

/* Marge en haut, bas et à droite pour centrer les boxs */

.nos-produits {
    margin:25px 50px 10px 0;
}

/* Marge haut droite et bas  */

.a-propos {
    margin:25px 0 0 0;
}

/* Marge uniquement en haut */